*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #F5EBEB;
}

.navegacion-logo{

    width: 100px;
   
}

.navegacion ul li a {

    text-decoration: none;
    
    color: black;
}

.navegacion ul li{
    display: inline-block;
}
.navegacion{
    margin: 0 0 10px 0; 
    width: auto;
    height: auto;
}
.navegacion ul {   
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.main{

    background-color: #F5EBEB;
    margin: 10px 0 ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "imagen1-main imagen1-main imagen1-main"
    "imagen2-main main-importante main-importante";
}
.imagen1-main{

    margin: 10px 0;
    width: auto;
    height: 650px;
    grid-area:imagen1-main;
}
.titulo-main{
    text-align: center;
    font-size: 40px;
    
}

.imagen2-main{
    grid-area: imagen2-main;
}
.main-importante{
    grid-area: main-importante;
}
footer{
    background-color: #F5EBEB;
    padding: 20px;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
    

}
img{

    width: 100%;
    height: 100%;
}



.ubicacion{
    padding: 100px;
    background-color: #F5EBEB;
    text-align: center;
}
.ubicacion-titulo{
    font-size: 20px;
}
.ubicacion-mapa{
    margin: auto;
    width: 90% ;
    max-width: 400px;
}
.main-contacto{
    background-color: #F5EBEB;
    margin: 10px 0 ;
    display: flex;
}
.formulario{
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 100px;

}

.formulario-contenedor{
    margin-top: 50px;
    display: grid;
    gap: 25px;
}
.main-quienessomos{
    background-color: #F5EBEB;
    margin: 10px 0 ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "imagen importante importante"
}
.main-importante-1{
    grid-area: importante;
}
.main-imagen{
    grid-area: imagen ;
}
.quienes-somos-titulo{
    text-align: center;
}
.quienes-somos-parrafo{
    text-align: center;
}
.main-activdades{
    background-color: #F5EBEB;
    margin: 10px 0 ;
}
.actividades-titulo{
    text-align: center;
}
.actividades-parraf{
    text-align: center;
}


.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
} 
.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-content h2 {
    font-size: 18px;
    margin-bottom: 8px;
}

.card-content p {
    font-size: 14px;
    color: #666;
}









@media(max-width: 700px ) {
    .main{

        background-color: #F5EBEB;
        margin: 10px 0 ;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "imagen1-main "
        "main-importante";
    }
    .imagen1-main{
    
        margin: 10px 0;
        width: auto;
        height: 650px;
        grid-area:imagen1-main;
    }
    .titulo-main{
        text-align: center;
        font-size: 40px;
        
    }
    
    .imagen2-main{
        display: none;
    }
    .main-importante{
        grid-area: main-importante;
    }

    footer{
        background-color: #F5EBEB;
        margin: 10px 0 ;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "redes-sociales"
        "telefono"
        "ubicacion"
    }
    .redes-sociales{
        grid-area:redes-sociales;
    }
    .telefono{
        grid-area: telefono;
    }
    .ubicacion{
        grid-area:ubicacion ;
    }
    .main-quienessomos{
        background-color: #F5EBEB;
        margin: 10px 0 ;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "imagen"
        "importante"
    }
    .main-importante-1{
        grid-area: importante;
    }
    .main-imagen{
        grid-area: imagen ;

    }
    .quienes-somos-titulo{
        text-align: center;
    }
    .quienes-somos-parrafo{
        text-align: center;
    }
}